In [1]:
import pandas as pd
listings = pd.read_csv('./projectData/HousingPriceData/MedianListingPrice.csv', encoding = "ISO-8859-1")
listings.head()

,RegionName,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,...,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09
0,New York,NY,New York-Newark-Jersey City,Queens,1,459000.0,449990.0,429900.0,430000.0,449000.0,...,850000.0,845000.0,829000.0,799000.0,808000.0,850000.0,848000.0,835000.0,800000.0,825000.0
1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,434900.0,419000.0,429000.0,429000.0,429000.0,...,749999.0,759925.0,779974.5,788000.0,799000.0,799000.0,799998.0,799900.0,799000.0,799000.0
2,Chicago,IL,Chicago-Naperville-Elgin,Cook,3,269800.0,274500.0,272500.0,272138.0,269000.0,...,285000.0,294800.0,309500.0,324500.0,329000.0,325519.0,325000.0,324900.0,319900.0,324900.0
3,Houston,TX,Houston-The Woodlands-Sugar Land,Harris,4,NaN,NaN,NaN,NaN,NaN,...,324999.0,325000.0,329000.0,331737.0,336990.0,335000.0,334500.0,328194.5,324190.0,325000.0
4,San Antonio,TX,San Antonio-New Braunfels,Bexar,5,145000.0,147000.0,149000.0,149900.0,150944.0,...,233765.5,233900.0,230995.0,229975.0,235000.0,239888.0,239900.0,239499.5,236000.0,236534.5